/SAPPORO-service/etc/coverage_html/
/SAPPORO-service/etc/nginx/cache
/SAPPORO-service/etc/nginx/run
/SAPPORO-service/etc/uwsgi/uwsgi.sock
/SAPPORO-service/log/
/SAPPORO-service/run/
/SAPPORO-service/src/app/secret_key.txt
/SAPPORO-service/src/app/token_list.txt

/SAPPORO-web/etc/coverage_html/
/SAPPORO-web/etc/nginx/cache
/SAPPORO-web/etc/nginx/run
/SAPPORO-web/etc/uwsgi/uwsgi.sock
/SAPPORO-web/log/
/SAPPORO-web/src/app/migrations/
/SAPPORO-web/src/config/secret_key.txt
/SAPPORO-web/src/static/

/SAPPORO-fileserver/data/input_data/
/SAPPORO-fileserver/data/output_data/
/SAPPORO-fileserver/etc/minio_keys.txt
/SAPPORO-fileserver/etc/nginx/cache/
/SAPPORO-fileserver/etc/nginx/run/
/SAPPORO-fileserver/log/

!.gitkeep

__pycache__/
*.py[cod]
*$py.class
*.so
.coverage
.coverage.*
db.sqlite3
migrations/
